

/* ==========================================================================
Custom styles
========================================================================== */

img {
    max-width: 100%;
    height: auto;
}
   
/* CUSTOMIZE THE CAROUSEL */

.carousel {
	margin-bottom: 60px;
}

.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 100px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: transparent;
	border: 0;
	z-index: 10;
}

.carousel .item {
	height: 400px;
}

.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: auto;
}

/*.carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 800px;
	padding: 0 20px;
	margin-top: 200px;
	margin-left: 40px;
}

.carousel-caption h1,
.carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
} */

/*.carousel {
	margin-top: 60px;
	margin-bottom: 60px;
}

.hero-unit {
	margin-top: 60px;
	margin-bottom: 60px;
} */

.carousel .container {
	position: relative;
    z-index: 9;
}

.carousel-caption .btn {
	margin-top: 10px;
}
    
    
/* CUSTOM CSS for pages*/

#page a.anchor{
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}

#page h1 {
		font-size: 40px;
}


/* Responsiveness */

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {

	.carousel img.resize{
    	max-width:100%; /* you can use % */
	    height: auto;
	}

	.carousel-caption {
		background-color: transparent;
		position: static;
		max-width: 800px;
		padding: 0 20px;
		margin-top: 150px;
		margin-left: 20px;
	}

	.carousel-caption h1,
	.carousel-caption .lead {
		margin: 0;
		line-height: 1.25;
		color: #fff;
		text-shadow: 0 1px 1px rgba(0,0,0,.4);
	}
}

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {

}


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media(min-width:960px) {
	.carousel {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.hero-unit {
		margin-top: 60px;
		margin-bottom: 60px;
	}
	
	.carousel-caption {
		background-color: transparent;
		position: static;
		max-width: 800px;
		padding: 0 20px;
		margin-top: 200px;
		margin-left: 40px;
	}

	.carousel-caption h1,
	.carousel-caption .lead {
		margin: 0;
		line-height: 1.25;
		color: #fff;
		text-shadow: 0 1px 1px rgba(0,0,0,.4);
	}


	#page.row {
		margin-top: -50px;
		margin-bottom: 50px;
	}	
	#page H1 {
		margin-bottom: -40px;
		margin-top: 60px;
	}
	#page p {
		margin-left: 370px;	
	}
	#page li {
		margin-left: 400px;	
	}

}