<!-- <div class="bs-social">
  <ul class="bs-social-buttons">
    <li class="follow-btn">
      <a href="https://twitter.com/PSMEP1" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @PSMEP1</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://psmeaa.org/" data-count="horizontal" data-via="PSMEP1" data-related="mdo:Check out the PSME program and alumni association: ">Tweet</a>
    </li>

  </ul>
</div> -->

      <ul class="bs-masthead-links">
        <li>
          &copy; Université Paris 1 Panthéon-Sorbonne and PSME Alumni Association.
        </li>
        <li class="current-version">
          Built using Twitter Bootstrap v{{ site.current_version }}.
        </li>
        <!-- <li>
           <a href="{{ site.blog }}" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Blog']);">Blog</a> 
        </li> -->
        <li class="follow-btn">
          <a href="https://twitter.com/PSMEP1" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @PSMEP1</a>
        </li>
      </ul>

